.page-cart {
  margin-top: 150px;
}
.page-cart .container {
  max-width: 1200px;
  margin: 0 auto;
}
.page-cart-title {
  text-align: center;
  padding-top: 60px;
}
.page-cart-title h3 {
  font-weight: 400;
  font-size: 45px;
  line-height: 65.03px;
  color: #111111;
}
.page-cart-title p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20.23px;
  color: #111111;
}
p span.page-cart-title-span {
  color: #999999;
}
.page-cart-timer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: baseline;
  background-color: #e8f5ff;
}
.page-cart-timer p {
  margin-left: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
p span.page-cart-timer-span,
.page-cart-timer .fa-solid {
  color: #f05e2d;
}

/* ================TABLE==================== */
.row.page-cart-table-row {
  margin-top: 50px;
}
.row.page-cart-table-row .col.page-cart-table-right {
  flex: 0 0 auto;
  width: 70%;
}
.row.page-cart-table-row .col.page-cart-table-left {
  flex: 0 0 auto;
  width: 30%;
}
.page-cart-table-right-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.page-cart-table-right-list th,
.page-cart-table-right-list td {
  border: 1px solid #ccc;
  padding: 8px;
}
tr td .row .col.td-img {
  flex: 0 0 auto;
  width: 30%;
}
tr td .row .col.td-title {
  flex: 0 0 auto;
  width: 70%;
}
.page-cart-table-right-list th {
  border: 1px solid #ccc;
  padding: 16px 0;
  padding-left: 30px;
}
.page-cart-table-right-list td {
  text-align: center;
}

/* ============= */
.col.page-cart-table-left {
  background-color: #f5f5f5;
}
.page-cart-table-left-shipping {
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #f05e2d 70%, #dedede 70%);
  margin-top: 30px;
  margin-bottom: 16px;
}

.page-cart-table-left-shipping img {
  width: 30px;
  height: auto;
  margin-left: 140px;
}
.page-cart-table-left-shipping-tl p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #111111;
  margin-bottom: 30px;
}
span.page-cart-table-left-shipping-tl-span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #f05e2d;
}
.page-cart-table-left-top {
  border-bottom: 2px solid #dedede;
}
.page-cart-table-left-main {
  padding: 0 30px;
}
.page-cart-table-left-center h5 {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23.12px;
  color: #111111;
}
.page-cart-table-left-center-country {
  margin-top: 20px;
}
.page-cart-table-left-center-country label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20.23px;
  color: #555555;
}
select.form-select {
  border-radius: 30px;
  height: 50px;
}
.input-group.flex-nowrap {
  height: 50px;
}
input.form-control {
  border-radius: 30px;
}
.page-cart-table-left-center-button {
  margin-top: 20px;
  background-color: #111111;
  text-align: center;
  border-radius: 30px;
  padding: 17px 0;
}
.page-cart-table-left-center-button button {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 15.94px;
  color: #ffffff;
  background-color: #111111;
  border: none;
}
.page-cart-table-left-center-text {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dedede;
}
.page-cart-table-left-center-text-correct {
  background-color: #dcf0d8;
}
.page-cart-table-left-center-text-correct p {
  font-weight: 400;
  font-size: 14px;
  line-height: 23.12px;
  color: #1e882f;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.page-cart-table-left-center-text-correct li {
  font-weight: 400;
  font-size: 14px;
  line-height: 23.12px;
  color: #1e882f;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 16px;
}
.page-cart-table-left-center-text-error {
  margin-top: 20px;
  background-color: #fadfdf;
}
.page-cart-table-left-center-text-error {
  font-weight: 400;
  font-size: 14px;
  line-height: 23.12px;
  color: #904141;
}
.page-cart-table-left-center-text-error p {
  text-align: center;
  padding: 15px 0;
}

.page-cart-table-left-bottom {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dedede;
}
textarea#exampleFormControlTextarea1.form-coupon {
  height: 50px;
  width: 100%;
  border: none;
  padding: 10px 20px;
}
.page-cart-table-left-bottom-price {
  display: flex;
  justify-content: space-between;
}
.page-cart-gift-wrap p a {
  color: #111111;
}
.page-cart-gift-wrap {
  margin-top: 20px;
}
.page-cart-gift-wrap button {
  padding: 10px;
  background-color: #111111;
  border-radius: 20px;
  width: 200px;
}
.page-cart-gift-wrap button a {
  text-decoration: none;
  color: #ffffff;
}
.page-cart-note-title {
  margin-top: 20px;
}
.input-text {
  margin-top: 10px;
}
.page-cart-note-text-top {
  display: flex;
  margin-top: 20px;
}
.page-cart-note-text-top img {
  width: 16px;
  height: 19px;
  margin-top: 5px;
  margin-right: 10px;
}
p.page-cart-table-left-bottom-price-title {
  font-weight: 500;
  font-size: 20px;
}
.page-cart-table-left-bottom-button {
  margin-top: 20px;
}
.page-cart-table-left-bottom-button button {
  margin-top: 20px;
  padding: 10px;
  background-color: #111111;
  color: #ffffff;
  border-radius: 25px;
  width: 100%;
}
