/* Mobile */
@media (max-width: 739px) {
  .header-main-list-menu ul {
    display: none;
  }
  input.form-control.me-2 {
    display: block;
  }
  button.navbar-toggler {
    display: block;
  }
  button.btn-outline-success {
    background-color: #111111;
    border-radius: 20px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .header-main {
    padding: 0;
  }
  img.navbar-brand {
    margin-right: 0;
  }
  i.fa-solid.fa-angle-down,
  i.fa-solid.fa-exclamation {
    font-size: 10px;
  }
  .header-main-list-menu ul {
    margin-left: 0;
  }
  .header-main-list-menu ul li a {
    font-size: 10px;
  }
  .header-main-list-icons ul li {
    font-size: 13px;
  }
}

/* PC */
@media (min-width: 1024px) {
  .navbar.bg-body-tertiary .container-fluid {
    padding: 0 25px;
  }
}
