@import url("https://fonts.googleapis.com/css2?family=Heebo&family=Jost:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
.header {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-note {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #e2f3f0;
  height: 50px;
  width: 100%;
  overflow: hidden;
}
.header-note span {
  font-weight: 600;
  font-size: 12px;
  color: #111111;
}

.marquee-container {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.marquee-container span {
  margin-right: 100px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.header-main {
  margin: 0 auto;
  background-color: #ffffff;
}
.navbar.bg-body-tertiary {
  --bs-bg-opacity: 0;
}
.d-flex {
  align-items: center;
}
.header-main-list-menu ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* margin-left: 155px; */
}

.header-main-list-menu ul li {
  font-weight: 400;
  font-size: 14px;
  margin: 0 15px;
}

.header-main-list-menu ul li:first-child,
.header-main-list-menu ul li:last-child {
  margin-left: 0;
}

.header-main-list-menu ul li a {
  text-decoration: none;
  color: #111111;
  font-weight: 500;
  font-size: 16px;
  padding-right: 5px;
}

.header-main-list-icons ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-main-list-icons ul li {
  margin: 0 10px;
  font-size: 20px;
}
li.notification-icon a {
  color: #111111;
}
.notification-icon {
  position: relative;
  display: inline-block;
}
.notification-badge {
  position: absolute;
  top: -4px;
  right: -8px;
  background-color: #c99947;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  font-size: 10px;
}
/* ================================== */
input.form-control.me-2 {
  display: none;
}
button.navbar-toggler {
  display: none;
}
ul.navbar-nav.justify-content-end.flex-grow-1.pe-3 {
  text-transform: uppercase;
}
.navbar.bg-body-tertiary .container-fluid {
  width: 1801px;
  max-width: 100%;
  --bs-gutter-x: 0;
  justify-content: space-between;
  /* padding: 0 25px; */
  margin: 0 auto;
}
/* ==================================== BANNER ====================================== */

.banner {
  position: relative;
  width: 100%;
  height: 900px;
  margin-top: 150px;
}

.banner .imgbanner {
  position: absolute;
  max-width: 100%;
  right: 0;
}

.banner .banner-text-overlay {
  position: absolute;
  top: 235px;
  left: 320px;
  color: #111111;
  /* padding: 20px; */
}

.banner-text-overlay p {
  font-weight: 400;
  font-size: 16px;
  color: #22222280;
}

.banner-text-overlay h2 {
  font-weight: 500;
  font-size: 48px;
}

.banner-text-overlay button {
  font-weight: 500;
  font-size: 16px;
  padding: 8px 10px;
  margin-top: 35px;
  color: #ffffff;
  background-color: #111111;
  border: none;
}

.banner .imgcurrent {
  position: absolute;
  top: 700px;
  left: 50px;
}

/* ========================== LIST CATEGORY =================================================*/

.container {
  max-width: 1141.5px;
  margin: 0 auto;
}

.content {
  padding-top: 88px;
  height: 165vh;
  position: relative;
}

.content-title {
  display: flex;
  justify-content: space-between;
}

.content-title-left h3 {
  font-weight: 500;
  font-size: 32px;
  color: #111111;
}

.content-title-left {
  position: absolute;
}

.content-title-left::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 45%;
  background-color: #111111;
  bottom: 0;
  left: 0;
}

.content-title-right {
  position: absolute;
  right: 0;
}

.content-title-right ul {
  width: 393px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

.content-title-right ul li a {
  text-decoration: none;
  color: #555555;
  font-weight: 400;
  font-size: 18px;
}

.content-title-right ul li a:hover {
  color: #000000;
  border-bottom: 1px solid #000000;
}

.row.row-cols-4 {
  margin-top: 90px;
}

.row-cols-4 .col img {
  width: 100%;
}

.row-cols-4 .col h3 {
  font-weight: 400;
  font-size: 16px;
  padding-top: 19px;
}

.row-cols-4 .col p {
  font-weight: 400;
  font-size: 14px;
}

input[id="inlineRadio1"] {
  background-color: #08382c;
  border-color: #111111;
}

input[id="inlineRadio1"]:checked {
  background-color: #08382c;
  border-color: #111111;
}

input[id="inlineRadio2"] {
  background-color: #492919;
  border-color: #dddddd;
}

input[id="inlineRadio2"]:checked {
  background-color: #492919;
  border-color: #dddddd;
}

input[id="inlineRadio3"] {
  background-color: #dfd3c2;
  border-color: #dddddd;
}

input[id="inlineRadio3"]:checked {
  background-color: #dfd3c2;
  border-color: #dddddd;
}

.form-check.form-check-inline {
  margin-right: -5px;
  font-size: 20px;
}

.content-banner {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.content-banner-right {
  position: absolute;
}
.content-banner-right img,
.content-banner-two-left img {
  width: 100%;
}

.content-banner-left {
  position: absolute;
  right: 115px;
  top: 110px;
  text-align: right;
}

.content-banner-left h3 {
  font-weight: 500;
  font-size: 32px;
}

.content-banner-left p {
  font-weight: 400;
  font-size: 16px;
  color: #22222280;
}

.content-banner-left button {
  font-weight: 500;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 55px;
  background-color: #111111;
  color: #ffffff;
  border: none;
}

.content-banner-left button:hover {
  opacity: 80%;
}

/* ====================================================== */

.content-banner-two {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.content-banner-two-left {
  text-align: right;
  order: 1;
  position: absolute;
  top: 800px;
}

.content-banner-two-right {
  order: 2;
  z-index: 10;
  position: absolute;
  top: 930px;
  left: 125px;
  /* width: 100%; */
}

.content-banner-two-right button {
  font-weight: 500;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 55px;
  background-color: #111111;
  color: #ffffff;
  border: none;
}

.content-banner-two-right button:hover {
  opacity: 80%;
}

.content-banner-two-right h3 {
  font-weight: 500;
  font-size: 32px;
}

.content-banner-two-right p {
  font-weight: 400;
  font-size: 16px;
  color: #22222280;
}

/* ======================= BLOG ========================== */
.blog {
  margin-top: 90px;
}

.blog-title {
  position: relative;
}
.blog-title h3 {
  font-weight: 500;
  font-size: 32px;
  color: #111111;
}

.blog-title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 6%;
  background-color: #111111;
  bottom: 0;
  left: 0;
}

.row.blog-main {
  margin-top: 30px;
}

.col.blog-main-item img {
  width: 100%;
}

.blog-main-item-title {
  padding-top: 30px;
}

.blog-main-item-title-categories {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.blog-main-item-title-top {
  font-weight: 400;
  font-size: 24px;
}

.blog-main-item-title-main {
  font-weight: 400;
  font-size: 16px;
}

.blog-main-item-title-bottom {
  font-weight: 400;
  font-size: 14px;
  color: #c99947;
}

.blog-main-item-title-bottom-italic {
  font-style: italic;
  color: #111111;
}
/* =====================FOOTER========================= */
.footer {
  margin-top: 100px;
  background-color: #111111;
}

.footer-title {
  padding-top: 100px;
  justify-content: space-between;
  border-bottom: 1px solid #3d3d3d;
  align-items: baseline;
}

.footer-about {
  margin-right: 150px;
  margin-top: -25px;
}

.footer-about ul {
  list-style: none;
}

.footer-about img {
  padding-bottom: 14px;
  /* width: 100%; */
}

.footer-about-list li {
  padding-bottom: 25px;
}

.footer-about-list li:last-child {
  padding-bottom: 0;
}

.footer-about-list li a {
  text-decoration: none;
  color: #999999;
  font-weight: 400;
  font-size: 16px;
}

ul.footer-about-list {
  padding: 0;
}

.payment-methods {
  margin-top: 35px;
}

.payment-methods span {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
}

.payment-methods ul {
  padding: 16px 0 0 0;
  display: flex;
}

.footer-category h4 {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer-category ul {
  list-style: none;
  padding: 0;
}

.footer-category ul li {
  padding-bottom: 25px;
}

.footer-category ul li a {
  text-decoration: none;
  color: #999999;
  font-weight: 400;
  font-size: 16px;
}

.footer-service h4 {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer-service ul {
  list-style: none;
  padding: 0;
}
.footer-service ul li {
  padding-bottom: 25px;
}
.footer-service ul li a {
  text-decoration: none;
  color: #999999;
  font-weight: 400;
  font-size: 16px;
}

.footer-newsletter h4 {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer-newsletter span {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
}

.subscription-form {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 14px;
  border-bottom: 2px solid #3d3d3d;
}

input[type="email"] {
  width: 300px;
  border: none;
  outline: none;
  background-color: inherit;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: inherit;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button[type="submit"]:hover {
  opacity: 70%;
}

.subscription-form input {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
.subscription-form button {
  font-weight: 500;
  font-size: 14px;
}

.subscription-form input::placeholder {
  color: #999999;
}

ul.subscription-icons {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

ul.subscription-icons li {
  margin: 25px 25px 0 0;
}

ul.subscription-icons li a {
  color: #ffffff;
  text-decoration: none;
}

/* ======================= FOOTER COPY RIGHT ==========================*/
.footer-copy {
  padding-top: 36.5px;
  padding-bottom: 35.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copy-right {
  color: #999999;
  font-weight: 400;
  font-size: 16px;
}

.footer-copy-left {
  width: 30%;
}

.footer-copy-left ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.footer-copy-left ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

/* Mobile */
@media (max-width: 739px) {
  img.navbar-brand {
    width: 100%;
    margin-right: 0;
  }
  .header-main-logo {
    width: 15%;
  }
  span.navbar-toggler-icon {
    width: 15px;
    height: 15px;
  }
  button.navbar-toggler {
    padding-top: 0;
  }
  .header-main-list-icons ul li {
    font-size: 15px;
  }
  .banner .imgcurrent {
    top: 445px;
    width: 5%;
  }
  .banner .banner-text-overlay {
    top: 580px;
    left: 170px;
    text-align: center;
  }
  .banner-text-overlay h2 {
    font-size: 30px;
  }
  .banner {
    height: 770px;
    margin-top: 115px;
  }
  .banner-text-overlay button {
    font-size: 14px;
    margin-top: 24px;
  }
  .content {
    padding-top: 48px;
    height: 150vh;
    max-height: 100%;
  }
  .content-title-left h3 {
    font-size: 22px;
  }
  .content-title-right ul {
    width: 355px;
  }
  .content-title-right ul li a {
    font-size: 12px;
  }
  .row-cols-4 .col h3 {
    font-size: 11px;
  }
  .row-cols-4 .col p {
    font-size: 11px;
    margin-bottom: 0;
  }
  .form-check.form-check-inline {
    font-size: 15px;
  }
  .content-banner {
    margin-top: 50px;
  }
  .content-banner-right {
    top: 0;
  }
  .content-banner-left {
    right: 0;
    top: 375px;
    text-align: center;
    width: 100%;
  }
  .content-banner-left h3 {
    font-size: 20px;
  }
  .content-banner-left p {
    font-size: 14px;
  }
  .content-banner-left button {
    font-size: 10px;
    margin-top: 0;
  }
  .content-banner-two-left {
    top: 420px;
  }
  .content-banner-two {
    margin-top: 50px;
  }
  .content-banner-two-right h3 {
    font-size: 20px;
  }
  .content-banner-two-right p {
    font-size: 14px;
  }
  .content-banner-two-right button {
    font-size: 10px;
    margin-top: 0;
  }
  .content-banner-two-right {
    top: 790px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .blog-title h3 {
    font-size: 22px;
  }
  .row.blog-main {
    display: block;
  }
  .col.blog-main-item {
    margin-top: 20px;
  }
  .blog-main-item-title {
    padding-top: 15px;
  }
  .blog-main-item-title-categories {
    font-size: 10px;
  }
  .blog-main-item-title-top {
    font-size: 20px;
  }
  .blog-main-item-title-main {
    font-size: 12px;
  }
  .blog-main-item-title-bottom {
    font-size: 12px;
  }
  .footer-about-list li a,
  .footer-category ul li a,
  .footer-service ul li a {
    font-size: 12px;
  }
  .payment-methods span,
  .footer-newsletter span {
    font-size: 12px;
  }
  .footer-about {
    margin-right: 0;
  }
  .footer-about img {
    width: 50%;
  }
  .footer {
    margin-top: 51px;
  }
  .footer-title {
    padding-top: 50px;
  }
  .footer-category h4,
  .footer-service h4 {
    margin-top: 8px;
  }
  .subscription-form button {
    font-size: 12px;
  }
  .subscription-form input {
    font-size: 14px;
  }
  ul.subscription-icons li {
    margin: 10px 25px 10px 0;
    font-size: 12px;
  }
  .footer-copy-right,
  .footer-copy-left ul li a {
    font-size: 12px;
  }
  .footer-copy-right p,
  .footer-copy-left ul {
    margin-bottom: 0;
  }
  .footer-copy-left {
    width: 50%;
  }
  .footer-copy {
    padding-top: 15.5px;
    padding-bottom: 15.5px;
  }
  input[type="email"] {
    width: 414px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  img.navbar-brand {
    margin-right: 0;
    width: 80%;
  }
  .notification-icon span.notification-badge {
    top: -3px;
    right: -7px;
    width: 13px;
    height: 13px;
    line-height: 15px;
  }
  .navbar.bg-body-tertiary .container-fluid {
    --bs-gutter-x: 0;
    padding: 0;
  }
  .banner {
    height: 765px;
    max-height: 100%;
  }
  .banner .banner-text-overlay {
    top: 550px;
    left: 250px;
  }
  .banner-text-overlay h2 {
    font-size: 35px;
  }
  .banner-text-overlay p {
    font-size: 14px;
  }
  .banner-text-overlay button {
    font-size: 14px;
    margin-top: 30px;
  }
  .content-title-left h3 {
    font-size: 28px;
  }
  .content-title-right ul li a {
    font-size: 16px;
  }
  /* .content {
    height: 148vh;
    max-height: 100%;
  } */
  .content-banner-left h3 {
    font-size: 25px;
  }
  .content-banner-left button {
    font-size: 14px;
    margin-top: 35px;
  }
  .content-banner-left {
    right: 60px;
    top: 120px;
  }
  .content-banner-two-left {
    top: 563px;
  }
  .content-banner-two-right h3 {
    font-size: 25px;
  }
  .content-banner-two-right button {
    font-size: 14px;
    margin-top: 35px;
  }
  .content-banner-two-right {
    top: 690px;
    left: 40px;
  }
  .blog-title h3 {
    font-size: 28px;
  }
  input[type="email"] {
    width: 750px;
    max-width: 100%;
  }
  .footer-copy-left {
    width: 50%;
  }
}

/* PC */
@media (min-width: 1024px) {
  .content {
    height: 200vh;
  }
}
